body, ul, li p {
    padding: 0;
    margin: 0;
    border: 0;
}
a{
	text-decoration: none;
}
html,body{width:100%; position:relative;}
body {
    font-size: 12px;
    -webkit-user-select: none; /*无法选择文本*/
    -webkit-text-size-adjust: none;
    font-family: helvetica;
    background-image: url(../resource/img/pgc/bg.png);
    background-size: cover;
    font-size: 20px;
    color: #fff;
}
.one .tag{
    position: relative;
    top: 80%;
    padding:20px;
    letter-spacing: 5px;
    font-size: 36px;
    height: 40px;
    width: 280px;
    background-image:url(../resource/img/pgc/lable.png);
    background-size: cover;
}
.two {
    margin: 5%;
}

.two .title {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 4%;
}

.two .detail {
    border-bottom: 1px #8a8a8a solid;
    font: 36px helvetica-light;
}

.two .detail img {
    position: relative;
    top: 15px;
    margin-right: 5%;
    width: 5.5%;
    display: inline-block;
    
}
.two .detail p {
    margin:3.5% 0;
    display: inline-block;
}

.two .detail .control{
    word-wrap:break-word;
    width: 620px;
    display: inline-flex;
}
.two .detail a {
    color: #ff4f4e
}
.three {
    margin: 10% 5%;
    text-align: center;
}
.three .aty {
    background: url(../resource/img/activity/details_activity_line@3x.png) no-repeat center;
    font-size: 46px;
    margin-bottom: 4%;
}
.drb {
    font-size: 36px;
    line-height: 216%;
    text-align: left;
}
.four #text_title {
    text-align: center;
    margin: 0 5% 5% 5%;
    font-size: 46px
}

.four .inner {
    margin: 0 5%;
}
.four img {
   margin: 3% 2%;
    height: 360px;
    width: 96%;
}
.four .small {
    color: #ffffff;
    opacity: 0.5;
    text-align: center;
    font-size: 32px;
}
footer{
	margin-bottom: 10%;
}
