body, ul, li p {
    padding: 0;
    margin: 0;
    border: 0;
}
a{
	text-decoration: none;
}

body {
    font-size: 12px;
    -webkit-user-select: none; /*无法选择文本*/
    -webkit-text-size-adjust: none;
    font-family: helvetica;
    background-image: url(../resource/img/pgc/bg.png);
    background-size: cover;
    font-size: 20px;
    color: #fff;
}
.control{
    position: relative;
    top: 0px;
    width: 700px;
    white-space:nowrap;    
    word-break:keep-all;    
    overflow:hidden;    
    text-overflow:ellipsis; 
}

.two {
    margin: 5% 30px;
}

.two .title {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 4%;
}

.two .detail {
    height: 150px;
    font: 36px helvetica-light;
}

.two .detail img {
    float: left;
    margin-top: 44px;
}

.two .detail .text {
    margin-left: 80px;
    border-bottom: 1px #8a8a8a solid;
}

.two .detail .text p {
    display: inline-block;
}

.two .detail .text a {
    color: #ff4f4e
}
.three {
    margin: 4% 30px 3% 30px;
    text-align: center;
}

.three .aty {
    background: url(../resource/img/activity/details_activity_line@3x.png) no-repeat center;
    font-size: 60px;
    margin-bottom: 4%;
}

.drb {
    font-size: 42px;
    line-height: 60px;
    text-align: left;
}
h5 {
    margin: 4% 0 2% 30px;
    font-size: 60px
}

.four .inner {
    margin: 0 30px;
}

.four img {
   margin: 2% 20px 20px 2%;
    height: 360px;
    width: 96%;
}

.four .small {
    color: #ffffff;
    opacity: 0.5;
    text-align: center;
    font-size: 32px;
}
footer{
	margin-bottom: 60px;
}
