body {
    background-color: #2e3a43;
    color: #fff;
}
body, ul, li p div h3 {
    padding: 0;
    margin: 0;
    border: 0;
}

.extra{
	margin-top: -204px;
}

.one {
    background-image: url(${head});
    background-size: cover;
    height: 640px;
    width: 100%;
}

.two {
    margin: 6% 3%;
    text-align: center;
    font: 30px HelveticaNeue-Light;
}

.detail {
    margin: 0 3%;
    font-size: 30px;
    line-height: 50px;
}

.detail img {
    margin-right: 55px;
}

.special {
    font: 50px bold;
}

.float-r {
    float: right;
}

.float-l {
    float: left;
}

.title {
    margin: 4% 0 2% 0;
    font: 40px HelveticaNeue-Bold;
    text-align: center;
}

.title .small {
    height: 38px;
    width: 8px;
    background-color: #ff4f4e;
    display: inline-block;
}

.pic_1{
    height: 420px;
    background-image: url(${pic_3});
    background-size: cover;
    margin: 2% 0;
    opacity: 0.7;
}

.pic_2 .center{
    margin:0 auto;
    height: 172px;
    width: 422px;
    border-bottom: 1px solid #fff;
    position: relative;
    top: -110px;
}
.pic_2 .center .line{
    border-bottom: 1px solid #fff;
    width: 150px;
    display: inline-block;
}
.pic_2 .center .icon{
    position: relative;
    top:15px;
    display: inline-block;
    margin: 0 32px;
    height: 30px;
    width: 42px;
    background-image:url(../resource/img/pgc_detail/icon.png);
    background-size: cover;
}
.pic_2 .center h2{
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    z-index: 200;
}
.pic_2{
    margin-bottom: 5%;
}
.pic_2 .type{
    padding-top: 22px;
    font-size: 26px;
    text-align: center;
    position: relative;
    top: -377px;
    background-image:url(../resource/img/pgc_detail/lable.png);
    background-size: cover;
    height: 60px;
    width: 300px;
}
.pic_2 img{
    width: 100%;
    height: 420px;
}
.pic_2 h3{
    margin:2% 0 6% 0;
    font-size:24px ;
    text-align: center;
    opacity: 0.5;
}

.logo {
    margin: 3% auto;
    height: 100px;
}

.logo img {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    left: 42%;
}

h5 {
    margin: 5% 3%;
    font-size: 30px;
    opacity: 0.5
}

h5 a {
    color: #ff4f4e;
}

.weego {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
footer {
   margin: 0 3% 6% 3%;
    text-align: center;
    font-size: 30px;
    line-height: 60px;

}
