body, ul, li p div h2 h3{
    padding: 0;
    margin: 0;
    border: 0;
}
html,body{width:100%; position:relative;}
body{
	color: #fff;
	font-family: Helevtical Neue-Light;
	background:url(../resource/img/poi/poispot.png);
	background-size: cover;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}

.float_r{
	float: right;
}

.float_l{
	float: left;
}
.title{
	margin:6% auto;
}
.title .center{
	margin:0 auto;
	width: 550px;
	border-bottom: 1px solid #fff;
}
.title .center .line{
	border-bottom: 1px solid #fff;
	width: 200px;
	display: inline-block;
}
.title .center .icon{
	background-image: url(../resource/img/poi/spotname.png);
	position: relative;
	top:15px;
	display: inline-block;
	margin: 0 32px;
	height: 40px;
	width: 52px;
	background-size: cover;
}
.title .center h2{
	font-size: 58px;
	text-align: center;
	width:880px;
    margin-left:-167px;
}
.title .center .ch_name{
	margin-bottom:0;
	 font-weight:100;
}
.title .center .en_name{
	margin-top:20px;
	font-size: 45px;
	 font-weight:100;
}
.title .center h3{
	font-size: 30px;
	text-align: center;
}
.title .score{
	text-align: center;
	margin: 40px auto;
}
.title .score img{
	display: inline-block;
	margin-right: 12px;
	margin-bottom: -10px;
}
.title .score .reviews{
	display: inline-block;
	font-size: 26px;
	color: #fff;
	opacity: 0.5;
}
.tips{
	padding-bottom: 60px;
	border-bottom: 1px solid #4b4e4e;
	margin: 0 16px 6% 16px;
}
.tips .h2{
	font-size: 40px;
	text-align: center;
	line-height: 50px;
	font-weight: 100;
}
.tips .special{
	text-align: center;
	margin: 4% auto;
}
.tips .special .single{
	font-size: 34px;
	width: 200px;
	text-align: center;
	border:3px solid #ff514e;
	display: inline-block;
	margin:0 7.5px;
	border-radius: 50px;
	padding: 15px 0;
}
.tips .special .first{
	background-color: #ff4f4e;
}
.tips .breif{
	width: 336px;
	margin: 0 auto;
}

.tips .breif .recommenddesc{
	margin-left:12px;
}

.tips .breif img{
	margin: 0 40px -5px 0;
	width: 60px;
	height: 54px;
	display: inline-block;
	
}
.tips .breif .h3{
	margin:0;
	display: inline-block;
	font-size: 56px;
	font-weight: bold;
	
}
.tips .margin{
	margin:30px 12px 0 12px;
}
.tips p{
	margin: 0;
	font-size: 33px;
	line-height: 60px;
}
.tips .menu{
	margin: 70px 0px 60px 0px;
	height: 35%;
}
.tips .menu p{
	margin-left:20px;
}

.tips .menu .type{
	letter-spacing: 5px;
	float: left;
	padding-left: 28px;
	padding-top: 22px;
	font-size: 28px;
	position: relative;
	top:-150px;
	background-image:url(../resource/img/pgc/lable.png);
	background-size: cover;
	height: 60px;
	width: 215px;
}
.tips .menu .menu_name{
	position: relative;
	top: 53%;
	left: 28px;
	float: left;
	font-size: 36px;

}

.tips .menu .overlay{
	position: relative;
	top: 66%;
	width: 100%;
}
.tips .comment{
	height: 115px;
	text-align: center;
	margin:60px auto;
	width: 510px;
}
.tips .comment .left{
	border-right: 1px solid #4c4f4f;
	padding-right: 40px;
	float: left;
}
.tips .comment .left img{
	width: 70px;
	height: 70px;
	margin-bottom: 20px;
}
.tips .comment .left p{
	font-size: 28px;
}
.tips .comment .right{
	display: inline-block;
	float: left;
	padding-left: 40px;
}
.tips .comment .right p{
	font-size: 48px;
	margin-bottom: 41px;
}
.tips .main_comment{
	font-size: 48px;
	text-align: center;
	margin-top:90px;
}
.tips .good_comment{
	margin:6% 12px;
	font-size: 30px;
	line-height: 50px;
}
.tips .good_comment .desc{
	margin:0 58px;
}
.message{
	margin:-60px 20px 100px 20px;
}
.message .details{
	margin-left:12px;
	padding-top:5px;
	font-size: 34px;
	border-bottom: 1px solid #4c4f4f;
}
.message .details img{
	width: 4%;
	margin-right:20px;
	display: inline-block;
	margin-bottom:-5px;
}
.message .details p{
	display: inline-block;
	margin-right: 80px;
}
.message .details .h3{
	display: inline-block;
	width: 633px;
	color: #ff4f4e;
	text-align:right;
}
.message .details #price{
	color: #fff;
}

.message .details .h3 a{
	color: #ff4f4e;
	text-decoration: none;
}



.message .details .aaa{
	float: right;
  	width: 650px;
  	padding: 28px 0;
}
.message .details .bbb{
	margin:10px 0;
	color: #ff4f4e;
}


.message .details .time{
	display: inline-flex;
	float: right;
	width: 620px;
	margin: 10px 0;
	text-align: left;
}

.message .details .aaa{
	float: right;
  	width: 405px;
  	padding: 28px 0;
}

.message .details .bbb{
	margin:10px 0;
}

.message .details #web{
	text-align: left;
    white-space:nowrap;    
    word-break:keep-all;    
    overflow:hidden;    
    text-overflow:ellipsis;
}

.message .details .all{
	margin:38px 32px;
}
.message .details .all .little{
	display: inline-block;
	width: 155px;
	margin:0 3% 40px 3%;
}
.message .details .all .little img{
	height: 50px;
	width: 98px;
	margin:0;
}
.message .details .all .little .text{
	margin-top: 16px;
}
.tips .recommends{
	width:260px;
}
.last_tip{
	border-bottom: none;
}
#last_tip{
	border-bottom: none;
}
