<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PGC活动详情页面</title>
	<link rel="stylesheet" type="text/css" href="../css/PGC.css">
</head>
<body>
	<div class="one">背景1</div>
	<div class="two">
		作者：<span id="author">蘑菇君</span>,                来源：<span id="from">weego公众账号</span>
	</div>
	<div class="detail"><img src="../resource/img/pgc/yin1.png"></br>&nbsp;马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合。</br><img class="float-r" src="../resource/img/pgc/yin2.png">
	</div>
	<h3 class="title"><div class="small"></div>
	为啥马尔代夫捏</h3>
	<div class="detail">马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合。</div>
	<div class="pic_1">
	</div>
	<div class="pic_2 extra">
		<div class="center">
			<div class="line"></div>
			<div class="icon"></div>
			<div class="line"></div>
				<h2>马尔代夫天堂岛</h2>
		</div>
		<div class="type">度假海岛</div>
		<img src="../resource/img/pgc/2.jpg">
		<h3>(图片来源：aaaa)</h3>
	</div>
	<h3 class="title"><div class="small"></div>
	憋错过走过路过别错过</h3>
	<div class="detail">马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合。</div>
	<div class="pic_2">
		<img src="../resource/img/pgc/2.jpg">
		<h3>(图片来源：aaaa)</h3>
	</div>
	<div class="detail">代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合。</div>
	<h5>由weego重新排版&nbsp;<a>阅读原文</a></h5>
	<div class="logo"><img src="../resource/img/pgc/4.jpg"></div>
	<p class="weego">weego公众账号</p>
	<footer>weego基于旅行者的兴趣和意图依托强大的数据库的智能计算，帮助用户在简单旅行准备的同时，成为一个旅行中的实时向导。</footer>
</body>
</html>