<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PGC活动</title>
	<link rel="stylesheet" type="text/css" href="../css/PGC_detail.css">
</head>
<body>
	<header>
		<h1>度假|马尔代夫的101次逃离</h1>
		<div class="head">
			<img src="../resource/img/pgc/2.jpg">
		</div>
	</header>
	<div class="author">
		<h1>贝尔贝尔</h1>
		<p>主持人探险家主持人探险家主持人探险家主持人探险家主持人探险家主持人探险家主持人探险家主持人探险家主持人</p>
		<div class="line"></div>
	</div>
	<div class="drb"><img src="../resource/img/pgc/yin1.png"></br>&nbsp;马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合。</br><img class="float-r" src="../resource/img/pgc/yin2.png"></div>

	<div class="page_1">
		<h2><div class="small"></div>选择马代没理由</h2>
		<div class="drb">马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫</div>
	</div>
	<div class="pic_1">
	</div>
	<div class="pic_2 extra">
		<div class="center">
			<div class="line"></div>
			<div class="icon"></div>
			<div class="line"></div>
				<h2>马尔代夫天堂岛</h2>
		</div>
		<div class="type">度假海岛</div>
		<img src="../resource/img/pgc/2.jpg">
		<h3>(图片来源：aaaa)</h3>
	</div>
	<div class="page_1">
		<h2><div class="small"></div>憋错过这些小屋</h2>
		<div class="drb">马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫</div>
	</div>
	<div class="pic_2">
		<img src="../resource/img/pgc/2.jpg">
		<h3>(图片来源：aaaa)</h3>
	</div>
	<div class="drb">尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不适合马尔代夫不</div>
	<footer></footer>

</body>
</html>