<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>探索城市</title>
	<link rel="stylesheet" type="text/css" href="../css/POI.css">
	<style type="text/css">
	header{
		background-image:url(${header});
		background-size: cover;
		height: 640px;
	}
	</style>
</head>
<body>
	<header></header>
	<div class="title">
		<div class="center">
			<div class="line"></div>
			<div class="icon"></div>
			<div class="line"></div>
			<h2>${title}<br/>${english_title}</h2>
		</div>
		<div class="score">
			<img src="../resource/img/poi/reviews.png">
			<div class="reviews">${reviews}</div>
		</div>
	</div>
	<div class="tips">
		<h2>${foreword}</h2>
		<div class="special">
			<div class="single first">${tag}</div><!-- 需要循环遍历 -->
			<div class="single">${tag}</div>
			<div class="single">${tag}</div>
		</div>
	</div>
	<div class="tips">
		<div class="breif">
			<img src="../resource/img/poi/tips.png">
			<h3>简介</h3>
		</div>
		<p class="margin">${breif}</p>
	</div>
	<div class="tips">
		<div class="breif">
			<img src="../resource/img/poi/tips.png">
			<h3>小贴士</h3>
		</div>
		<div class="margin">
			<p>推荐：${recommend}</p>
			<p>注意事项:</p>
			<p>${tips}</p><!-- 循环遍历 -->
			<p>${tips}</p>
			<p>${tips}</p>
		</div>
	</div>
	<div class="tips">
		<div class="breif">
			<img src="../resource/img/poi/menu.png">
			<h3>菜品推荐</h3>
		</div>
		<div class="menu first_menu">
			<img class="overlay" src="../resource/img/poi/overlay.png">
			<div class="type">店长推荐</div>
			<div class="menu_name">刀削面</div>
		</div>
		<p>可以泡着吃可以煮着吃还可以干吃可以泡着吃可以煮着吃还可以干吃可以泡着吃可以煮着吃还可以干吃可以泡着吃可以煮着吃还可以干吃可以泡着吃可以煮着吃还可以干吃可以泡着吃可以煮着吃还可以干吃</p>
	</div>
	<div class="tips">
		<div class="menu second_menu">
			<img class="overlay" src="../resource/img/poi/overlay.png">
			<div class="type">人气最旺</div>
			<div class="menu_name">刀削面</div>
		</div>
		<p>可以泡着吃可以煮着吃还可以干吃可以泡着吃可以煮着吃还可以干吃可以泡着吃可以煮着吃还可以干吃可以泡着吃可以煮着吃还可以干吃可以泡着吃可以煮着吃还可以干吃可以泡着吃可以煮着吃还可以干吃</p>
	</div>
	<div class="tips last_tip">
		<div class="breif">
			<img src="../resource/img/poi/comment.png">
			<h3>评论</h3>
		</div>
		<div class="comment">
			<div class="left">
				<img src="../resource/img/poi/google.png">
				<p>来自google</p>
			</div>
			<div class="right">
				<p>4分</p>
				<img src="../resource/img/poi/reviews.png">
			</div>
		</div>
		<p class="main_comment">好吃还吃好吃好吃还吃好吃好吃还吃好吃好吃还吃好吃好吃还吃好吃</p>
		<div class="good_comment"><img src="../resource/img/pgc/yin1.png"><br/>&nbsp;不好吃不好吃不好吃不好吃不好吃不好吃不好吃不好吃不好吃不好吃不好吃不好吃不好吃不好吃不好吃不好吃<br/><img class="float_r" src="../resource/img/pgc/yin2.png"></div>
		<div class="map">map</div>
		<div class="message">
			<div class="details">
				<img src="../resource/img/poi/phone.png">
				<p>价格：</p>
				<h3>11234566</h3>
			</div>
			<div class="details">
				<img src="../resource/img/poi/phone.png">
				<p>电话：</p>
				<h3>11234566</h3>
			</div>
			<div class="details">
				<img src="../resource/img/poi/web.png">
				<p>网址：</p>
				<h3>11234566888888888</h3>
			</div>
			<div class="details">
				<img src="../resource/img/poi/time.png">
				<p>时间：</p>
				<h3>11234566</h3>
			</div>
			<div class="details" id="last_tip">
				<img src="../resource/img/poi/time.png">
				<p>设施</p>
				<div class="all">
					<div class="little">
						<img class="little" src="../resource/img/poi/1.png">
						<div class="text">提供wifi</div>
					</div>
					<div class="little">
						<img class="little" src="../resource/img/poi/2.png">
						<div class="text">提供wifi</div>
					</div>
					<div class="little">
						<img class="little" src="../resource/img/poi/3.png">
						<div class="text">提供wifi</div>
					</div>
					<div class="little">
						<img class="little" src="../resource/img/poi/4.png">
						<div class="text">提供wifi</div>
					</div>
					<div class="little">
						<img class="little" src="../resource/img/poi/5.png">
						<div class="text">提供wifi</div>
					</div>
					<div class="little">
						<img class="little" src="../resource/img/poi/wifi.png">
						<div class="text">提供wifi</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<footer>
	</footer>
</body>
</html>