<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
.title{
    width:100px;
    white-space:nowrap;    
    word-break:keep-all;    
    overflow:hidden;    
    text-overflow:ellipsis;   
}
</style>
</head>
<body> -->
<!-- <form method="post" action="www.baidu.com">
	<span >提交：</span> <input type="file" accept="image/*"></input>
	<input type="submit"></input>
</form>
<p class="title"><a href="">qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqeeeeeeeeeeeee<</a>/p> -->
	<!-- <!DOCTYPE HTML>
	<html>
	    <head>
	        <meta charset="gb2312" />
	        <title></title>
	
	    </head>
	    <body>
	        <div id="test" style="width:120px; height:120px;"></div>
	        
	        <script>
	            function $(el){
	                return typeof el == 'string' ? document.getElementById(el) : el;
	            }
	            
	            var img = new Image;
	            img.src = 'http://avatar.profile.csdn.net/D/2/3/2_yiqiejieruying.jpg';
	            img.onload = function(){
	                $('test').style.backgroundImage = 'url('+img.src+')';
	            }
	        </script>
	    </body>
	</html>  -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>apptext</title>
	<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">
</head>
<body>
	
</body>
</html>
